.main__instructions__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    animation-duration: 1s;
    animation-name: show;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main__instructions__wrapper__section a {
    color: #41464E;
    text-decoration: none;
}

.main__instructions__wrapper__section li a {
    color: #3072C4;
}

.main__instructions__wrapper__section li a:hover {
    text-decoration: none;
}

.main__instructions__wrapper__section__links {
    display: flex;
    /*align-content: flex-start;*/
    /*align-items: flex-start;*/
    /*justify-content: space-around;*/
    flex-flow: column wrap;
    margin: 0;
    list-style: none;
    padding-left: 0;
    /*max-height: 150px;*/
    /*max-width: 300px;*/
}

.main__instructions__wrapper__section__links li {
    padding: 5px;
    margin: 10px 0 20px 0;
}

.main__instructions__wrapper__section__links h3 {
    margin: 0;
}


