.main__homePage__wrapper__mainMuseumTitle {
    font-family: 'PF Agora Sans Pro', sans-serif;
    font-size: 3.2rem;
    margin-top: 20px;
    color: rgb(110, 107, 106);
    text-transform: uppercase;
    min-height: 40px;
}

.main__homePage__wrapper__mainTitle {
    font-size: 2rem;
    line-height: 100%;
}

.main__homePage__description {
    margin: 0 0 10px;
}

.main__homePage__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main__homePage__wrapper_columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}

.main__homePage__wrapper__linkBtn {
    border-radius: 3px;
    height: 50px;
    line-height: 22px;
    padding: 9px 20px 11px;
    box-shadow: 0 0 0 1px rgba(14, 81, 129, 0.7), 0 1px 0 0 rgba(7, 37, 80, 0.5);
    background: linear-gradient(#2899ea, #167ac1);
    border: none;
    color: #fff;
    font-size: 0.9rem;
    max-width: 100%;
    width: 250px;
}

.main__homePage__wrapper__linkBtn:hover {
    background: linear-gradient(#0286D5, #157AC2);
    cursor: pointer;
}


.main__homePage__wrapper__greetingImg {
    margin: 10px;
}

.main__homePage__wrapper__greetingImg_stripesAnim {
    animation-duration: 5s;
    animation-name: show;
}

.main__homePage__wrapper__greetingImg_eveAnim {
    animation-duration: 3s;
    animation-name: show;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .main__homePage__wrapper__greetingImg {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .main__homePage__wrapper_columns {
        flex-direction: column;
        height: 280px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 900px) {
    .main__homePage__wrapper_columns {
        display: none;
    }
}
