footer {

    width: 100%;
    margin: 60px auto 0;
    padding: 20px 0;
    /* margin: 60px auto 30px;
    padding-top: 20px; */
    /* border-top: 1px solid #EBEBEB; */
    background-color: #ebebeb;
}

.footer p, .footer a {
    color: #909090;
}

.footer a:hover {
    color: #3072C4;
    text-decoration: underline;
}

h4 {
    color: #646464;
    font-weight: 500;
}

.footer__wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__wrapper, .footer__wrapper__contacts__mail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__wrapper__contacts__mail:last-child {
    text-align: end;
}

.footer__wrapper__social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__wrapper__social__icons {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

.footer__wrapper__social__icons li {
    margin-left: 20px;
}

.footer__wrapper__social__icons li:first-child {
    margin-left: 0;
}

.footer__wrapper__social__icons_active:hover {
    transform: scale(0.95)
    /*filter:*/
            /*invert(0.5)*/
            /*sepia(1)*/
            /*hue-rotate(170deg)*/
            /*saturate(4)*/
            /*brightness(0.7);*/
}


.footer__wrapper__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 0.9rem;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    /* .footer {
        margin: 60px auto 30px;
    } */
}

@media screen and (max-width: 700px) {
    .footer__wrapper__contacts__mail:last-child {
        text-align: center;
    }

    .footer__wrapper_center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .footer__wrapper__contacts {
        margin-top: 20px;
    }

    .footer__wrapper__contacts, .footer__wrapper__social {
        flex-direction: column;
    }

    .footer__wrapper__social__icons {
        margin: 20px 0 0 0;
        padding: 0;
    }
}